In [2]:
# Import libraries
import pandas as pd

In [4]:
# Load the dataset
df = pd.read_csv("../data/raw/global_findex.csv")

# Display the first few rows
df.head()

C:\Users\Aidid\AppData\Local\Temp\ipykernel_10952\3954426719.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/global_findex.csv")

,countrynewwb,codewb,year,pop_adult,regionwb24_hi,incomegroupwb24,group,group2,account_t_d,fiaccount_t_d,...,con12m_s,con26lm_s,con12w_s,con2f_s,con13_s,con26m_s,con28lm_s,con5a_s,con17c_s,con32h_s
0,Afghanistan,AFG,2011,14575546.0,South Asia (excluding high income),Low income,all,all,0.090050,0.090050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,ALB,2011,2281010.0,Europe & Central Asia (excluding high income),Upper middle income,all,all,0.282681,0.282681,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,DZA,2011,26251587.0,Middle East & North Africa (excluding high inc...,Lower middle income,all,all,0.332861,0.332861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,AGO,2011,12779501.0,Sub-Saharan Africa (excluding high income),Lower middle income,all,all,0.392035,0.392035,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,ARG,2011,30685516.0,Latin America & Caribbean (excluding high income),Upper middle income,all,all,0.331302,0.331302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Preview all columns
for col in df.columns:
    print(col)

countrynewwb
codewb
year
pop_adult
regionwb24_hi
incomegroupwb24
group
group2
account_t_d
fiaccount_t_d
mobileaccount_t_d
borrow_any_t_d
fin4_d
dig_acc
fin11_2a
fin11a
fin11b
fin11c
fin11f
fin11d
fin11e
fin14a
fin14b
fin14c
fin14d
fin13_1a
fin13_1b
fin26a
fin26b
fin27a
fin27b
fin17f
fin17a_17a1_d
fin17a
fin17b
fin17c
fin22d
fin22e
fin22a_22a1_22g_d
fin22a
fin22a_1
fin22b
fin22c
fin24sav
fin24fam
fin24work
fin24bor
fin24sell
fin24other
fin24aVD
fin24aSD
fin24aND
fin24aSD_ND
fin24aP
fin24aN
fin24sav_SD_ND
fin24fam_SD_ND
fin24work_SD_ND
fin24bor_SD_ND
fin24sell_SD_ND
fin24other_SD_ND
fin24sav_VD
fin24fam_VD
fin24work_VD
fin24bor_VD
fin24sell_VD
fin24other_VD
fh1
fin28
fh2
fin29
fin31a_31b
fin30
fin31a
fin31b
fin31d
fin32_33_34a
fin32_33_34b
fin32_33_34c
fin32_33_34d
fin32_33_acc
fin32_33
fin32_n33_34a
fin32_n33_34b
fin32_n33_34c
fin32_n33_34d
fin32_n33_acc
fin32_n33
fin32
fin32_acc
fin34a
fin34b
fin34c
fin34d
fin37_38_39a
fin37_38_39b
fin37_38_39c
fin37_38_39d
fin37_38_39_acc
fin37_38
fin37_39a
fin37_39b
fin37_39c
fin37_39d
fin37_39_acc
fin37
fin38_39a
fin38_39b
fin38_39c
fin38_39d
fin38_39_acc
fin38
fin2_t_d
fin42
fin42_acc
fin43a
fin43b
fin43c
fin43d
fin45a
fin45c
fin45d
fin45e
fin45b
fin25e2
fin9b
fin10
fin22g
fin22h
inactive_t_d
fing2p_acc
fing2p_card
fing2p_cash
fing2p_fin
fing2p_mob
fing2p
g20_made
g20_received
g20_any
merchant_pay
save_any_t_d
fin11_1
fin5w
fin5m
fin5lm
fin5n
fin6w
fin6m
fin6lm
fin6n
fin11_0
fin9a
fin17dw
fin17dm
fin17dlm
fin17e
fin7
fin3
fin19
fin20
fin21
fin24ba
fin24bb
fin24bc
fin24bd
fin24c
fin24d1
fin24d2
fin24d3
fin25e1
fin25e2b
fin25e3w
fin25e3m
fin25e3lm
fin25e4a
fin25e4b
fin25e4c
fin25e4d
fin25e4e
fh2a
fin31c
fin36a
fin36b
fin40a
fin40b
fin36Aa
fin36Ab
fin8
fin13aw
fin13am
fin13alm
fin13an
fin13bw
fin13bm
fin13blm
fin13bn
fin13cw
fin13cm
fin13clm
fin13cn
fin13e
fin13f
fin13f_1
fin15
fin16
fin22f
fin41
fin35
fin44
fh1_fh2
fin28_29
fin31d_s
fin32_n33_34c_s
fin34c_s
fin43c_s
fin32_acc_s
fin34a_s
fin32_33_acc_s
inactive_t_d_s
fing2p_fin_s
fin32_33_34a_s
fin32_n33_acc_s
fin37_39_acc_s
fin37_39c_s
fin31a_31b_s
fin31a_s
fin31b_s
fin32_n33_34a_s
fin37_39a_s
fin34d_s
fin32_33_34d_s
fin32_n33_34d_s
fing2p_card_s
fin37_39d_s
fin42_acc_s
fin32_33_34c_s
fin37_38_39c_s
fin38_39c_s
fing2p_acc_s
fing2p_cash_s
fin37_38_39a_s
fin37_38_39_acc_s
fin38_39a_s
fin38_39_acc_s
fin34b_s
fin32_n33_34b_s
fin43b_s
fin27b_s
fin27a_s
fin22h_s
fin28_29_s
fin28_s
fin29_s
fing2p_mob_s
fin37_38_39d_s
fin37_38_39b_s
fin37_39b_s
fin11_2a_s
fin11b_s
fin11f_s
fin11d_s
fin11e_s
fin9b_s
fin11_1_s
fin5m_s
fin6m_s
fin9a_s
fin5w_s
fin6w_s
fin17dm_s
fin17dlm_s
fin25e3w_s
fin25e3m_s
fin24d1_s
fin14d_s
fin24d2_s
fin11a_s
fin11c_s
fin5lm_s
fin6lm_s
fin17dw_s
fin14c_s
fin13_1a_s
fin13_1b_s
fin13am_s
fin13alm_s
fin13bm_s
fin13blm_s
fin13cm_s
fin13clm_s
fin21_s
fin14b_s
fin13cw_s
fin13f_s
fin14a_s
fin25e3lm_s
fin13aw_s
fin13bw_s
fin24d3_s
fin5n_s
fin6n_s
fin13f_1_s
fin32_33_34b_s
con1
con2a
con2b
con2c
con2d
con2e
con2f
con2g
con3a
con3b
con3c
con3d
con3e
con3f
con3g
con4
con5a
con5b
con6
con7
con8
con9a
con9b
con10
con11
con12d
con12w
con12m
con12lm
con13
con14
con15
con16
con17a
con17b
con17c
con17d
con18
con19
con20
con21
con22
con23
internet
con26d
con26w
con26m
con26lm
con27
con28d
con28w
con28m
con28lm
con28n
con29
con30a
con30b
con30c
con30d
con30e
con30f
con30g
con30h
con31a
con31b
con31c
con31d
con31e
con31f
con31g
con31h
con32a
con32b
con32c
con32d
con32e
con32f
con32g
con32h
con10_s
con11_s
con12d_s
con14_s
con16_s
con17a_s
con17b_s
con18_s
con19_s
con20_s
con21_s
con26d_s
con27_s
con28m_s
con30a_s
con30b_s
con30c_s
con30d_s
con30e_s
con30f_s
con30g_s
con30h_s
con31a_s
con31b_s
con31f_s
con2a_s
con15_s
con17d_s
con29_s
con31d_s
con31h_s
con32a_s
con3a_s
con4_s
con28d_s
con28w_s
con23_s
con31c_s
con2b_s
con2d_s
con26w_s
con2c_s
con2e_s
con2g_s
con5b_s
con12m_s
con26lm_s
con12w_s
con2f_s
con13_s
con26m_s
con28lm_s
con5a_s
con17c_s
con32h_s
countrynewwb      object
codewb            object
year               int64
pop_adult        float64
regionwb24_hi     object
                  ...
con26m_s         float64
con28lm_s        float64
con5a_s          float64
con17c_s         float64
con32h_s         float64
Length: 437, dtype: object

In [ ]:
# Checking the number of columns in the dataset
print(f"Number of columns: {len(df.columns)}")

Number of columns: 437

In [7]:
pd.set_option('display.max_columns', None)
print(df.columns)

Index(['countrynewwb', 'codewb', 'year', 'pop_adult', 'regionwb24_hi',
       'incomegroupwb24', 'group', 'group2', 'account_t_d', 'fiaccount_t_d',
       ...
       'con12m_s', 'con26lm_s', 'con12w_s', 'con2f_s', 'con13_s', 'con26m_s',
       'con28lm_s', 'con5a_s', 'con17c_s', 'con32h_s'],
      dtype='object', length=437)

In [10]:
# Check data type
print(df.dtypes)

countrynewwb      object
codewb            object
year               int64
pop_adult        float64
regionwb24_hi     object
                  ...
con26m_s         float64
con28lm_s        float64
con5a_s          float64
con17c_s         float64
con32h_s         float64
Length: 437, dtype: object

In [12]:
# Create basic codebook structure
codebook = pd.DataFrame({
    'column_name': df.columns,
    'data_type': [str(df[col].dtype) for col in df.columns],
    'category': '',
    'description': ''
})

# View first 10 rows
codebook.head(10)

       column_name data_type category description
0     countrynewwb    object
1           codewb    object
2             year     int64
3        pop_adult   float64
4    regionwb24_hi    object
5  incomegroupwb24    object
6            group    object
7           group2    object
8      account_t_d   float64
9    fiaccount_t_d   float64

In [16]:
# Automatically assign some categories
def assign_category(col_name):
    """
    Assigns each column to a detailed hierarchical category based on its name.
    The categories are ordered by the most unique indicators first (Demographics/Country Info),
    followed by major thematic groups (Connectivity, then Financial), and finally, by other precise groupings.
    """

    # --- 1. Demographics / Country Info ---
    if col_name in ['countrynewwb', 'codewb', 'year', 'regionwb24_hi', 'incomegroupwb24']:
        return 'Demographics / Country Info'
    
    # --- 2.  Demographics /Population Indicators ---
    elif col_name.startswith('pop'):
        return 'Demographics / Population'
    
    # --- 3. Connectivity / Digital
    elif col_name.startswith('con') or col_name in ['dig_acc', 'internet']:
        return 'Connectivity / Digital'
    
    # --- 4. Financial Categories (Thematic Groupings) ---
    elif col_name.startswith('fin') or col_name in ['account_t_d', 'fiaccount_t_d', 'mobileaccount_t_d', 'borrow_any_t_d', 'save_any_t_d', 'merchant_pay']:

        # Financial / Account Ownership & Access
        if any(x in col_name for x in ['account', 'acc', 'fi', 'mobile']):
            return 'Financial / Account Ownership & Access'
        
        # Financial / Borrowing & Credit
        elif any(x in col_name for x in ['borrow', 'bor', 'fin4']):
            return 'Financial / Borrowing & Credit'
        
        # Financial / Payments & Transactions
        elif any(x in col_name for x in ['pay', 'trans', 'merchant', 'send', 'receive']):
            return 'Financial / Payments & Transactions'
        
        # Financial / Savings & Management
        elif any(x in col_name for x in ['save', 'sav', 'g20']):
            return 'Financial / Savings & Management'
        
        # Financial / General Indicators
        else:
            return 'Financial / General Indicators'
        
    # --- 5. Grouping / Internal Index ---
    elif col_name in ['group', 'group2', 'fh1', 'fh2', 'fh2a']:
        return 'Grouping / Internal Index'
    
    # --- 6. Other / Needs Review
    else:
        return 'Other / Needs Review'
    

codebook['category'] = codebook['column_name'].apply(assign_category)

# View First 10 rows
codebook.head(10)

,column_name,data_type,category,description
0,countrynewwb,object,Demographics / Country Info,
1,codewb,object,Demographics / Country Info,
2,year,int64,Demographics / Country Info,
3,pop_adult,float64,Demographics / Population,
4,regionwb24_hi,object,Demographics / Country Info,
5,incomegroupwb24,object,Demographics / Country Info,
6,group,object,Grouping / Internal Index,
7,group2,object,Grouping / Internal Index,
8,account_t_d,float64,Financial / Account Ownership & Access,
9,fiaccount_t_d,float64,Financial / Account Ownership & Access,

In [ ]:
# Save as CSV
codebook.to_csv('data/codebook/Findex_2025_codebook.csv', index=False)