In [ ]:
# ----- DATA EXPLORATION AND CLEANING -----
# Purpose: explore the raw data and prepare it for cleaning

In [ ]:
# --- STAGE 1: LOAD AND INITIAL DATA STRUCTURE CHECKS ---

# Import libraries
import pandas as pd
import numpy as np  
import seaborn as sns
import matplotlib.pyplot as plt 

# 1. Load Data
df = pd.read_csv("../data/raw/global_findex.csv")

# 2. View Raw Data Sample
print("--- Data Head and Tail (Initial Sample) ---")
print(df.head())
print(df.tail())

# 3. Check Unique Values in Key Columns
print("\nUnique Countries/aggregates in 'countrynewwb':")
print(df['countrynewwb'].unique())

print("\nUnique income groups in 'incomegroupwb24':")
print(df['incomegroupwb24'].unique())

print("\nUnique regions in 'regionwb24_hi':")
print(df['regionwb24_hi'].unique())


# 3. Check Data Dimensions.
print("\n--- 3. Data Shape ---")
# Check number of rows (observations) and columns (variables)
print(f"Dataset has: {df.shape[0]} rows and {df.shape[1]} columns") 

# 4. Data Types and Non-Null Counts (Primary Missing Value Check)
print("\n--- 4. Data Types and Missing Values Summary (df.info()) ---")
df.info()

# 5. Descriptive Statistics (General overview of numeric columns)
print(f"\n--- 5. Descriptive Statistics (Numeric only) ---")
print(df.describe())

# 6. Calculation of Missing Values (Percentage)
print("\n--- 6. Detailed Missing Value Count and Percentage ---")
missing_data = df.isnull().sum()
# Calculate percentage
missing_percentage = (missing_data[missing_data > 0] / len(df)) * 100

# Create a summary table for missing data that is not 0
missing_summary = pd.DataFrame({
    'Missing_Count': (missing_data[missing_data > 0]),
    'Missing_Percent': missing_percentage.round(2)
})

print(missing_summary)
# Look for columns with a high percentage (>= 50%) as they are candidate for removal.

# 7. Check for Duplicates (Integrity Check)
print("\n--- 7. Duplicate Rows Check ---")
# Counts the number of full row duplicates
num_duplicates = df.duplicated().sum()
print(f"Number of fully duplicated rows: {num_duplicates}")
# Cleaning Action (if duplicates > 0): df.drop_duplicates(inplace=True)

C:\Users\Aidid\AppData\Local\Temp\ipykernel_7424\1184767123.py:10: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../data/raw/global_findex.csv")

--- Data Head and Tail (Initial Sample) ---
  countrynewwb codewb  year   pop_adult  \
0  Afghanistan    AFG  2011  14575546.0
1      Albania    ALB  2011   2281010.0
2      Algeria    DZA  2011  26251587.0
3       Angola    AGO  2011  12779501.0
4    Argentina    ARG  2011  30685516.0

                                       regionwb24_hi      incomegroupwb24  \
0                 South Asia (excluding high income)           Low income
1      Europe & Central Asia (excluding high income)  Upper middle income
2  Middle East & North Africa (excluding high inc...  Lower middle income
3         Sub-Saharan Africa (excluding high income)  Lower middle income
4  Latin America & Caribbean (excluding high income)  Upper middle income

  group group2  account_t_d  fiaccount_t_d  ...  con12m_s  con26lm_s  \
0   all    all     0.090050       0.090050  ...       NaN        NaN
1   all    all     0.282681       0.282681  ...       NaN        NaN
2   all    all     0.332861       0.332861  ...       NaN        NaN
3   all    all     0.392035       0.392035  ...       NaN        NaN
4   all    all     0.331302       0.331302  ...       NaN        NaN

   con12w_s  con2f_s  con13_s  con26m_s  con28lm_s  con5a_s  con17c_s  \
0       NaN      NaN      NaN       NaN        NaN      NaN       NaN
1       NaN      NaN      NaN       NaN        NaN      NaN       NaN
2       NaN      NaN      NaN       NaN        NaN      NaN       NaN
3       NaN      NaN      NaN       NaN        NaN      NaN       NaN
4       NaN      NaN      NaN       NaN        NaN      NaN       NaN

   con32h_s
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

[5 rows x 437 columns]
             countrynewwb codewb  year  pop_adult regionwb24_hi  \
8559           Low income    LIC  2024        NaN           NaN
8560  Lower middle income    LMC  2024        NaN           NaN
8561  Lower middle income    LMC  2024        NaN           NaN
8562  Upper middle income    UMC  2024        NaN           NaN
8563  Upper middle income    UMC  2024        NaN           NaN

     incomegroupwb24      group                 group2  account_t_d  \
8559             NaN  education       prim edu or less     0.376106
8560             NaN  education  secondary edu or more     0.755855
8561             NaN  education       prim edu or less     0.660206
8562             NaN  education  secondary edu or more     0.879884
8563             NaN  education       prim edu or less     0.787895

      fiaccount_t_d  ...  con12m_s  con26lm_s  con12w_s  con2f_s  con13_s  \
8559       0.226662  ...       NaN        NaN       NaN      NaN      NaN
8560       0.688198  ...       NaN        NaN       NaN      NaN      NaN
8561       0.617635  ...       NaN        NaN       NaN      NaN      NaN
8562       0.869421  ...       NaN        NaN       NaN      NaN      NaN
8563       0.782939  ...       NaN        NaN       NaN      NaN      NaN

      con26m_s  con28lm_s  con5a_s  con17c_s  con32h_s
8559       NaN        NaN      NaN       NaN       NaN
8560       NaN        NaN      NaN       NaN       NaN
8561       NaN        NaN      NaN       NaN       NaN
8562       NaN        NaN      NaN       NaN       NaN
8563       NaN        NaN      NaN       NaN       NaN

[5 rows x 437 columns]

Unique Countries/aggregates in 'countrynewwb':
['Afghanistan' 'Albania' 'Algeria' 'Angola' 'Argentina' 'Armenia'
 'Australia' 'Austria' 'Azerbaijan' 'Bahrain' 'Bangladesh' 'Belarus'
 'Belgium' 'Benin' 'Bolivia' 'Bosnia and Herzegovina' 'Botswana' 'Brazil'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo, Dem. Rep.' 'Congo, Rep.' 'Costa Rica' 'Croatia' 'Cyprus'
 'Czechia' 'Denmark' 'Djibouti' 'Dominican Republic' 'Ecuador'
 'Egypt, Arab Rep.' 'El Salvador' 'Estonia' 'Eswatini' 'Finland' 'France'
 'Gabon' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Guatemala' 'Guinea' 'Haiti'
 'Honduras' 'Hong Kong SAR, China' 'Hungary' 'India' 'Indonesia'
 'Iran, Islamic Rep.' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jordan' 'Kazakhstan' 'Kenya' 'Korea, Rep.' 'Kosovo' 'Kuwait'
 'Kyrgyz Republic' 'Lao PDR' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Lithuania' 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Mali' 'Malta'
 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Mongolia' 'Montenegro'
 'Nepal' 'Netherlands' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Oman' 'Pakistan' 'Panama' 'Paraguay' 'Peru'
 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russian Federation'
 'Rwanda' 'Saudi Arabia' 'Senegal' 'Serbia' 'Sierra Leone' 'Singapore'
 'Slovak Republic' 'Slovenia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Sweden' 'Syrian Arab Republic' 'Taiwan, China' 'Tajikistan' 'Tanzania'
 'Thailand' 'Togo' 'Trinidad and Tobago' 'Turkiye' 'Turkmenistan' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom' 'United States'
 'Uruguay' 'Uzbekistan' 'Venezuela, RB' 'Viet Nam' 'West Bank and Gaza'
 'Yemen, Rep.' 'Zambia' 'Zimbabwe' 'Belize' 'Bhutan' "Cote d'Ivoire"
 'Ethiopia' 'Myanmar' 'Namibia' 'Norway' 'Puerto Rico' 'Somalia'
 'Switzerland' 'Tunisia' 'Gambia, The' 'Libya' 'Maldives' 'Morocco'
 'Mozambique' 'South Sudan' 'Iceland' 'world' 'Developing economies'
 'East Asia & Pacific (excluding high income)'
 'Europe & Central Asia (excluding high income)'
 'Middle East & North Africa (excluding high income)'
 'Sub-Saharan Africa (excluding high income)'
 'Latin America & Caribbean (excluding high income)' 'South Asia'
 'High income' 'Low income' 'Lower middle income' 'Upper middle income']

Unique income groups in 'incomegroupwb24':
['Low income' 'Upper middle income' 'Lower middle income' 'High income'
 nan]

Unique regions in 'regionwb24_hi':
['South Asia (excluding high income)'
 'Europe & Central Asia (excluding high income)'
 'Middle East & North Africa (excluding high income)'
 'Sub-Saharan Africa (excluding high income)'
 'Latin America & Caribbean (excluding high income)' 'High income'
 'East Asia & Pacific (excluding high income)' nan]

--- 3. Data Shape ---
Dataset has: 8564 rows and 437 columns

--- 4. Data Types and Missing Values Summary (df.info()) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8564 entries, 0 to 8563
Columns: 437 entries, countrynewwb to con32h_s
dtypes: float64(430), int64(1), object(6)
memory usage: 28.6+ MB

--- 5. Descriptive Statistics (Numeric only) ---
              year     pop_adult  account_t_d  fiaccount_t_d  \
count  8564.000000  7.880000e+03  8474.000000    8382.000000
mean   2017.752102  3.801596e+07     0.608512       0.577673
std       4.704446  1.269509e+08     0.281459       0.300610
min    2011.000000  2.280160e+05     0.004049       0.004049
25%    2014.000000  3.739546e+06     0.373236       0.305189
50%    2017.000000  8.517166e+06     0.618943       0.572576
75%    2022.000000  2.590395e+07     0.876087       0.874832
max    2024.000000  1.176679e+09     1.000000       1.000000

       mobileaccount_t_d  borrow_any_t_d       fin4_d      dig_acc  \
count        2514.000000     6412.000000  1123.000000  1375.000000
mean            0.283384        0.505079     0.345447     0.463432
std             0.187849        0.147839     0.196402     0.222712
min             0.000000        0.066738     0.018266     0.028120
25%             0.134216        0.404864     0.177844     0.276928
50%             0.242093        0.493301     0.315908     0.452996
75%             0.405406        0.599242     0.499838     0.630785
max             0.939388        0.960750     0.856300     0.984625

         fin11_2a      fin11a  ...  con12m_s  con26lm_s  con12w_s   con2f_s  \
count  620.000000  440.000000  ...  1.000000   2.000000  5.000000  6.000000
mean     0.229841    0.177835  ...  0.194813   0.245663  0.148853  0.369778
std      0.119643    0.089142  ...       NaN   0.139951  0.030140  0.157287
min      0.000000    0.000000  ...  0.194813   0.146702  0.120784  0.223460
25%      0.141596    0.112524  ...  0.194813   0.196183  0.127663  0.275785
50%      0.210255    0.166669  ...  0.194813   0.245663  0.141030  0.330228
75%      0.292143    0.232159  ...  0.194813   0.295143  0.158604  0.393878
max      0.650280    0.438151  ...  0.194813   0.344624  0.196186  0.662020

        con13_s  con26m_s  con28lm_s  con5a_s  con17c_s  con32h_s
count  1.000000  1.000000    1.00000  1.00000  1.000000  1.000000
mean   0.434121  0.236156    0.21613  0.78906  0.157456  0.406595
std         NaN       NaN        NaN      NaN       NaN       NaN
min    0.434121  0.236156    0.21613  0.78906  0.157456  0.406595
25%    0.434121  0.236156    0.21613  0.78906  0.157456  0.406595
50%    0.434121  0.236156    0.21613  0.78906  0.157456  0.406595
75%    0.434121  0.236156    0.21613  0.78906  0.157456  0.406595
max    0.434121  0.236156    0.21613  0.78906  0.157456  0.406595

[8 rows x 431 columns]

--- 6. Detailed Missing Value Count and Percentage ---
                 Missing_Count  Missing_Percent
pop_adult                  684             7.99
regionwb24_hi              684             7.99
incomegroupwb24            684             7.99
account_t_d                 90             1.05
fiaccount_t_d              182             2.13
...                        ...              ...
con26m_s                  8563            99.99
con28lm_s                 8563            99.99
con5a_s                   8563            99.99
con17c_s                  8563            99.99
con32h_s                  8563            99.99

[432 rows x 2 columns]

--- 7. Duplicate Rows Check ---
Number of fully duplicated rows: 0

In [25]:
# --- PRIORITY CLEANING: FILTERING AGGREGATES AND DROPPING NEAR-EMPTY COLUMNS ---
print("="*60)
print("FILTERING AGGREGATES AND DROPPING NEAR-EMPTY COLUMNS")
print("="*60)

# 1. IDENTIFY AND FILTER AGGREGATE ROWS
# The Findex dataset includes summary rows (e.g., 'world', 'Low income')
# Alongside individual country data. These must be removed to prevent bias and double-counting
# in country-level analysis.

# Define the list of aggregate entities to be excluded from country-level analysis.
Aggregate_terms = ['world', 'Developing economies', 'East Asia & Pacific (excluding high income)',
                   'Europe & Central Asia (excluding high income)', 'Middle East & North Africa (excluding high income)',
                   'Sub-Saharan Africa (excluding high income)', 'Latin America & Caribbean (excluding high income)',
                   'South Asia', 'High income', 'Low income', 'Lower middle income', 'Upper middle income']

# Create a boolean mask: True for rows where 'countrynewwb' is NOT in the Aggregate_terms list.
country_mask = ~df['countrynewwb'].isin(Aggregate_terms)

# Apply the filter to create a new DataFrame containing only individual country data
df_filtered = df[country_mask].copy()

print("--- Post-Filtering Shape Check ---")
print(f"\nOriginal rows: {df.shape[0]}, Rows after removing aggregates: {df_filtered.shape[0]}")
print(f"Number of aggregate rows removed: {df.shape[0] - df_filtered.shape[0]}")

# 2. REMOVE COLUMNS WITH EXCESSIVE MISSING DATA
print("\n--- CHECKING AND REMOVING EXCESSIVE MISSING DATA ---")
# Prevent truncation
pd.set_option('display.max_columns', None) # show all columns in summary missing values table
pd.set_option('display.max_rows', None) # show all rows in summary missing value table
pd.set_option('display.width', 1000) # Allow wide output to prevent wrapping

# Recalculate the missing values and percentage based on the new, smaller (filtered) dataset.
missing_values_filtered = df_filtered.isnull().sum()
missing_percentage_filtered = (df_filtered.isnull().sum() / len(df_filtered)) * 100

# Creating a summary table for missing 
missing_summary_table = pd.DataFrame({
    'Missing Count': missing_values_filtered,
    'Missing Percentage': missing_percentage_filtered.round(2)
})

# Filter to show ONLY columns with missing data and sort by percentage (descending).
# This is the table you need to review to decide on your threshold.
missing_summary_sorted = missing_summary_table[missing_summary_table['Missing Count'] > 0].sort_values(by='Missing Percentage', ascending=False)

print(missing_summary_sorted)

# Set a threshold for removal(columns with 90.0% or more missing values are useless)
missing_threshold = 90.0

# Identify columns where the missing percentage meets or exceeds the threshold.
cols_to_drop = missing_percentage_filtered[missing_percentage_filtered >= missing_threshold].index.tolist()

# Drop the identified columns from the filtered DataFrame
df_cleaned = df_filtered.drop(columns=cols_to_drop)

print("\n--- Post-Column Drop Shape Check ---")
print(f"Columns dropped due to >={missing_threshold}% missing data: {len(cols_to_drop)}")
print(f"New DataFrame shape (Rows, Columns): {df_cleaned.shape}")

# Overwrite the main DataFrame variable (df) to use the cleaned version moving forward.
df = df_cleaned

============================================================
FILTERING AGGREGATES AND DROPPING NEAR-EMPTY COLUMNS
============================================================
--- Post-Filtering Shape Check ---

Original rows: 7880, Rows after removing aggregates: 7880
Number of aggregate rows removed: 0

--- CHECKING AND REMOVING EXCESSIVE MISSING DATA ---
                   Missing Count  Missing Percentage
fin24bor                    7078               89.82
fh2a                        7073               89.76
fin6m                       7049               89.45
fin45e                      7029               89.20
fin9b                       7013               89.00
con26d                      7004               88.88
con30e                      6992               88.73
fin5m                       6989               88.69
fin22h                      6983               88.62
fin9a                       6977               88.54
fin17b                      6976               88.53
fin22c                      6976               88.53
con30a                      6956               88.27
con30d                      6956               88.27
con30b                      6956               88.27
fin8                        6953               88.24
con27                       6932               87.97
fin34b                      6932               87.97
con30c                      6920               87.82
con11                       6908               87.66
con18                       6908               87.66
con19                       6908               87.66
con17a                      6908               87.66
con12d                      6908               87.66
con14                       6908               87.66
con16                       6908               87.66
con17b                      6908               87.66
fin4_d                      6875               87.25
fin3                        6839               86.79
fin24sell                   6838               86.78
con9b                       6828               86.65
fin25e4d                    6821               86.56
fin24c                      6815               86.48
fin22f                      6789               86.15
fin27a                      6787               86.13
fin24ba                     6755               85.72
fin45c                      6683               84.81
dig_acc                     6635               84.20
fin24bd                     6623               84.05
fin24bc                     6623               84.05
fin24bb                     6611               83.90
fin45d                      6611               83.90
fin28                       6578               83.48
fin29                       6414               81.40
fin25e2                     6368               80.81
fin22e                      6349               80.57
fin38_39a                   6341               80.47
merchant_pay                6324               80.25
fin24work_SD_ND             6321               80.22
fin38_39_acc                6299               79.94
fin32_33_34a                6251               79.33
fin28_29                    6204               78.73
fin24sav_SD_ND              6155               78.11
fin32_33_acc                6119               77.65
fin26b                      6107               77.50
con9a                       6091               77.30
con1                        6067               76.99
internet                    6067               76.99
fin38                       5969               75.75
fin32_33                    5773               73.26
fin24fam_VD                 5750               72.97
fh1                         5742               72.87
fin37_39a                   5721               72.60
fin37_38_39a                5713               72.50
fin32_n33_34c               5709               72.45
fin24sav                    5691               72.22
mobileaccount_t_d           5654               71.75
fin25e2b                    5622               71.35
fin24work                   5615               71.26
fh2                         5614               71.24
fh1_fh2                     5560               70.56
fin31b                      5506               69.87
fin37_38_39_acc             5484               69.59
fin37_39_acc                5433               68.95
fin24aND                    5403               68.57
fin43c                      5347               67.86
fin24fam_SD_ND              5325               67.58
fin22g                      5243               66.54
fin24aVD                    5212               66.14
fin34c                      5201               66.00
fin17c                      5182               65.76
fin24fam                    5124               65.03
fin24aSD_ND                 5084               64.52
fin24aSD                    5084               64.52
fing2p_acc                  5032               63.86
fin26a                      4988               63.30
fin32_n33_34a               4936               62.64
fin42                       4716               59.85
fin31a                      4694               59.57
fin37_38                    4632               58.78
fin32_n33_acc               4558               57.84
fing2p_fin                  4498               57.08
fin37                       4342               55.10
fin22d                      4240               53.81
fin31a_31b                  4218               53.53
fing2p                      4200               53.30
fin34a                      4178               53.02
fin10                       3949               50.11
fin32_acc                   3758               47.69
fin22a                      3633               46.10
fin31d                      3399               43.13
fin22a_22a1_22g_d           3314               42.06
fin24aN                     3134               39.77
fin17a                      2668               33.86
g20_made                    2550               32.36
g20_received                2542               32.26
fin32_n33                   2524               32.03
fin22b                      2296               29.14
fin17a_17a1_d               2198               27.89
g20_any                     2188               27.77
fin32                       2152               27.31
fin30                       2120               26.90
save_any_t_d                1938               24.59
borrow_any_t_d              1928               24.47
fin24aP                     1886               23.93
fin2_t_d                    1208               15.33
fiaccount_t_d                182                2.31
account_t_d                   90                1.14

--- Post-Column Drop Shape Check ---
Columns dropped due to >=90.0% missing data: 0
New DataFrame shape (Rows, Columns): (7880, 126)

In [24]:
# --- STAGE 2: CONSISTENCY AND CATEGORICAL VALUE CHECKS ---
print("="*60)
print("STAGE 2: CONSISTENCY AND CATEGORICAL VALUE CHECKS")
print("="*60)

# 1. Check the structure of the core grouping variables
print("\n--- 1. Unique Values and Counts in Grouping Variables ---")
print("\nValue Counts for 'group':")
print(df['group'].value_counts())

print("\nValue Counts for 'group2':")
print(df['group2'].value_counts())

# 2. Check the distribution of time/year
print("\n--- 2. Unique Years in Dataset ---")
print(df['year'].value_counts(dropna=False).sort_index())

# 3. Check the structure of key demographics column
print("\nUnique values in 'incomegroupwb24':")
print(df['incomegroupwb24'].value_counts(dropna=False))

# Check the region column 
print("\nUnique values in 'regionwb24':")
print(df['regionwb24_hi'].value_counts(dropna=False))

# 4. Re-check Missing Data Summary
# This step helps identify the columns still above 50% missing for future special handling.
print("\n--- 4. Missing Data Summary for Remaining Columns (to be handled later) ---")

# Calculate missing percentages for the remaining columns
remaining_missing_data = df.isnull().sum()
remaining_missing_percentage = (remaining_missing_data / len(df)) * 100

# Create and print the summary table for columns with > 0% missingness
summary_table_final = pd.DataFrame({
    'Missing count': remaining_missing_data,
    'Missing percent': remaining_missing_percentage.round(2)
})

# Filter only columns that still have missing data and sort by percentage
# Limiting the display to the top 20 problematic columns for focus.
missing_summary_final_sorted = summary_table_final[summary_table_final['Missing count'] > 0].sort_values(by='Missing percent', ascending=False).head(20)

print("Top 20 Columns with Remaining Missing Data:")
print(missing_summary_final_sorted)

print("\n"+"="*60)
print("Decision Point Reminder:")
print("The remaining missing data (up to ~80% in the top rows) will be handled during the final Feature Engineering stage.")
print("="*60)

============================================================
STAGE 2: CONSISTENCY AND CATEGORICAL VALUE CHECKS
============================================================

--- 1. Unique Values and Counts in Grouping Variables ---

Value Counts for 'group':
group
gender        1388
age_cat       1388
education     1386
laborforce    1368
income        1362
all            711
urbanicity     277
Name: count, dtype: int64

Value Counts for 'group2':
group2
all                      711
men                      694
women                    694
ages 15-24               694
age 25+                  694
secondary edu or more    693
prim edu or less         693
in laborforce            684
out of laborforce        684
poorest 40%              681
richest 60%              681
urban                    139
rural                    138
Name: count, dtype: int64

--- 2. Unique Years in Dataset ---
year
2011    1384
2014    1554
2017    1602
2021    1351
2022     176
2024    1813
Name: count, dtype: int64

Unique values in 'incomegroupwb24':
incomegroupwb24
High income            2630
Lower middle income    2211
Upper middle income    2089
Low income              950
Name: count, dtype: int64

Unique values in 'regionwb24':
regionwb24_hi
High income                                           2630
Sub-Saharan Africa (excluding high income)            1883
Europe & Central Asia (excluding high income)         1038
Latin America & Caribbean (excluding high income)      930
Middle East & North Africa (excluding high income)     537
East Asia & Pacific (excluding high income)            521
South Asia (excluding high income)                     341
Name: count, dtype: int64

--- 4. Missing Data Summary for Remaining Columns (to be handled later) ---
Top 20 Columns with Remaining Missing Data:
          Missing count  Missing percent
fin24bor           7078            89.82
fh2a               7073            89.76
fin6m              7049            89.45
fin45e             7029            89.20
fin9b              7013            89.00
con26d             7004            88.88
con30e             6992            88.73
fin5m              6989            88.69
fin22h             6983            88.62
fin9a              6977            88.54
fin17b             6976            88.53
fin22c             6976            88.53
con30a             6956            88.27
con30d             6956            88.27
con30b             6956            88.27
fin8               6953            88.24
con27              6932            87.97
fin34b             6932            87.97
con30c             6920            87.82
con11              6908            87.66

============================================================
Decision Point Reminder:
The remaining missing data (up to ~80% in the top rows) will be handled during the final Feature Engineering stage.
============================================================